<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.30/angular-route.js"></script>
</head>
<body ng-app="social" ng-controller="ApplicationCtrl">

<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/">Posty</a></li>
      <li class="navbar-right" ng-if="!currentUser"><a href="/register">Rejestracja</a></li>
      <li class="navbar-right" ng-if="!currentUser"><a href="/login">Logowanie</a></li>
      <li class="navbar-right" ng-if="currentUser"><a href="#">Wyloguj</a></li>
    </ul>
    <p ng-if="currentUser" class="navbar-text navbar-right">
      Zalogowany jako {{currentUser.username}}
    </p>
  </div>
</nav>

<div ng-view></div>

<!--Application scripts-->

<script src="/app.js"></script>
</body>
</html>